---
---

// My Modules

@import _Color
@import _Icons

// Layout

.page-header
  position: sticky
  top: 0
  left: 0
  width: 100vw
  overflow: hidden
  margin: 0
  padding: 0

  border-bottom-left-radius: 1rem
  border-bottom-right-radius: 1rem

  background: $color-primary
  color: $color-initial

  display: flex
  flex-flow: row wrap
  justify-content: flex-start
  align-items: center

  box-shadow: 0 0.5rem 2rem $color-secondary

.logo
  display: block
  margin: 1rem
  height: 4rem
  width: auto

.title
  margin: 0 1rem
  font-family: 'Oswald', sans-serif 
  font-size: 2.8rem
  letter-spacing: 0.3rem
  line-height: 1

.menu-toggle
  position: absolute
  top: 0
  right: 0
  margin: 0 1rem
  font-size: 2.8rem
  line-height: 6rem

.nav-header
  width: 100vw



