
// EFFECTS
// =======

// BORDERS
// -------

$border: 0.3rem solid $color-quaternary
$border--dark: 0.3rem solid $color-quaternary
$border-radius: 0.5rem

@mixin box-shadow
	box-shadow: 0 0 1rem 0.3rem $color-secondary

$transition: ease-in 0.3s