
// Top Bar
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.top-bar
  display: flex
  flex-flow: row wrap
  justify-content: space-between
  align-items: center

  height: 5rem
  margin: 0 
  padding: 0

  background: $color-primary

.top-bar__brand
  display: block
  margin: 0
  padding: 0 1rem

  transition: 0.2s

  &:hover,
  &:focus
    transform: scale(1.2)

.top-bar__logo
  height: 4rem
  width: 4rem
  vertical-align: middle

.top-bar__list
  display: block
  margin: 0
  padding: 0

  list-style: none


.top-bar__item
  display: inline-block
  margin: 0
  padding: 0 1rem

.top-bar__link
  display: inline-block

  color: $color-quinary

  transition: 0.2s

  font-size: 2.8rem
  line-height: 1
  text-align: center
  vertical-align: middle

  &:hover,
  &:focus
    /*   color: $color-primary
    /*   background: $color-quaternary
    color: $color-quinary

    transform: scale(1.2)



