
// Top Bar
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.top-bar
  display: flex
  flex-flow: row nowrap
  justify-content: space-between
  height: 5rem
  width: 100%

  background: $color-primary

  border-bottom-left-radius: 1rem
  border-bottom-right-radius: 1rem
  overflow: hidden
  box-shadow: 0 0 0.5rem 0.5rem $color-secondary

.top-bar__brand
  display: block

  &:hover,
  &:focus
    background: $color-quinary

.top-bar__logo
  display: block
  height: 5rem
  width: 5rem
  margin: 0
  padding: 1rem

.top-bar__list
  display: block
  height: 5rem
  margin: 0
  padding: 0
  clear: both
  list-style: none



.top-bar__item
  display: block
  margin: 0
  padding: 0
  float: left

.top-bar__link
  display: inline-block
  height: 5rem
  padding: 0 1rem
  color: $color-quinary

  font-size: 2.8rem
  line-height: 5rem


  &:hover,
  &:focus
    color: $color-primary
    background: $color-quinary

