/* Spacer */
$spacer: 1rem;

/* Typography */
  $body-font-family: 'montserrat', sans-serif;
  $heading-font-family: 'oswald', sans-serif;
  $heading-font-weight: normal;

/*  Colors  */
  $white: rgb(246, 243, 239);  // NCS-Color: S 0300 - N
  $black: rgb(26,25,26);       // NCS-Color: S 9000 - N
  $primary: rgb(147,3,33); // NCS-Color S 2570 - R
